<div class="card">
  <div class="card-img-wrapper">
    <img [src]="imgSrc" class="card-img-top rounded" alt="House Image" />
    <ul *ngIf="displayOptions" class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button
          class="btn btn-primary"
          [routerLink]="['/property-detail', property.Id]"
        >
          <i class="bi bi-pencil-square"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">
          <i class="bi bi-person-lines-fill"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body pt-2">
    <strong style="font-size: 28px; text-decoration: underline;">{{ property.Name }}</strong>
    <h4>{{ property.Type }}</h4>
    <h4>{{ property.Price }}</h4>
  </div>
</div>
